<h1>Edit paper</h1>

 <%= form_for :paper, url: paper_path(@paper), method: :patch do |f| %>
  
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :venue %><br>
    <%= f.text_field :venue %>
  </p>
 
  <p>
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </p>

  <% 5.times do |i| %>
      <%= f.label "Author #{i+1}", for: "paper_author_id_#{i+1}" %>
      <%= f.collection_select :author_ids, Author.all, :id, :name,
                              {selected: @paper.author_ids[i], include_blank: '(none)'},
                              {name: "paper[author_ids][]", id: "paper_author_id_#{i+1}"} %>
  <% end %>

  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', papers_path %>